<template>
  <div class="home">
    <top-view></top-view>
    <sales-view></sales-view>

    <bottom-view></bottom-view>
    <map-view></map-view>
  </div>
</template>

<script>
// @ is an alias to /src
import topView from '@/components/TopView'
import BottomView from '@/components/BottomView'
import SalesView from '@/components/SalesView'
import MapView from '@/components/MapView'
export default {
  name: 'HomeView',
  components: {
    topView,
    SalesView,
    MapView,
    BottomView
  }

}
</script>
<style>
.home{
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background: #eee;
}
</style>
