<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app'

}
</script>

<style>
html body #app {
  margin:0;
  padding: 0;

}
</style>
